.bbsPage {
	padding: 10px;
	background-image: url("/img/ba.gif");
}

.thread_view{
	padding: 10px;
}

.ue {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	text-align: center;
}

.new_kakikomi {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	text-align: center;
}

.menu {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	text-align: center;
}

.threads {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;

	display: flex;
	flex-wrap: wrap;
	height: auto;
}

.item {
	flex: 1 1 50%; /* 50%幅で2列に並べる */
	padding: 5px;
}

.thread_count {
	font-size: 10px;
}

.thread_member_count {
	padding: 5px;
	color: var(--bs-body-color);
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	position: -webkit-fixed;
	position: fixed;
	display: block;
	position: fixed;
	right: 0;
	top: 0;
}

.verinfo {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	text-align: center;
}
