.ue {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	text-align: center;
}

.kakikomi {
	margin: 2px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	width: 100%;
}

.kakikomi .form-control {
	width: 400px;
	height: 100px;
}

.menu {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	text-align: center;
}

.flex{
	display: flex;
}

.threads {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	flex: 1;
}

@media screen and (max-width: 600px) {
	.flex {
		flex-direction: column;
	}

	.threads {
		margin-top: 10px; /* 上部のマージン */
		margin-bottom: 10px; /* 下部のマージン */
		flex: unset; /* フレックスの設定を解除 */
		width: auto; /* 幅を自動に設定 */
	}
}

.thread_member_count {
	padding: 5px;
	color: var(--bs-body-color);
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	position: -webkit-fixed;
	position: fixed;
	display: block;
	position: fixed;
	right: 0;
	top: 0;
}

.verinfo {
	margin: 2px;
	padding: 1px;
	background-color: rgba(var(--bs-secondary-bg-rgb), 0.5);
	border: solid 0px;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
}

@font-face {
	font-family: "Saitamaar";
	src: url("/css/Saitamaar.woff2") format("woff2"),
		url("/css/Saitamaar.woff") format("woff"),
		url("/css/Saitamaar.ttf") format("ttf");
	font-display: swap;
}
  
.Saitamaar {
	font-family: "Saitamaar";
	white-space: pre;
	font-size: 16px;
	line-height: 18px;
}

.center {
	text-align: center;
}

.setting_description {
	padding: 10px;
	border: 0px solid;
	border-radius: 10px;
	background-color: var(--bs-tertiary-bg);
	font-size: 15px;
}

.setting_gui {
	padding: 20px;
}
